@use "../variables.scss" as *;

.detailViewWrapper {
  .goBackLink {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    font-weight: 700;
    border-radius: 10px;
  }

  .detailsViewContent {
    > .repoMeta {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      column-gap: 30px;

      @media screen and (max-width: $screen-md-max) {
        flex-direction: column;
        align-items: flex-start;
      }

      > .dates {
        > span {
          display: block;
          margin-top: 20px;
          text-align: right;

          @media screen and (max-width: $screen-md-max) {
            text-align: left;
          }
        }
      }
    }
  }
}
